{% extends "::base.html.twig" %}

{% block title %}TestAnTestAnBundle:User:add{% endblock %}

{% block body %}
<h1>User add form</h1>
{{ form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}

{{ form_row(form.login) }}
{{ form_row(form.email) }}
{{ form_row(form.password) }}
{{ form_row(form.group) }}
{{ form_row(form.submit) }}

{{ form_end(form) }}
{% endblock %}
